<p></p>

<div class="container">

	<!-- BUSQUEDA DE ALBUNES -->
	<section>
		<form class="form">
		  	<div class="form-group">
		    	<label for="query">Buscar por palabra clave</label>
		    	<input type="text" class="form-control" id="query" placeholder="Palabra Clave..." [(ngModel)]="key" name="key">
		    	<small id="emailHelp" class="form-text text-muted">Aquí podras escribir una palabra con la cual se filtraran los registros</small>
		  	</div>
		  	<div class="form-group col-lg-6">
		    	<button type="button" (click)="Search_key(key)" class="btn btn-primary mb-2">Buscar</button>
		    	&nbsp;
		    	<button type="button" (click)="Find_all()" class="btn btn-success mb-2">Ver todos</button>
		  	</div>
		</form>
	</section>

	<!-- LABEL -->
	<section>
		<h3>Lista de Albunes</h3>
	</section>

	<!-- LISTA DE ALBUNES -->
	<section>
		<div *ngIf="items == ''">No hay items</div>
		<div class="row">
			<div class="card col-lg-4" style="width: 18rem;" *ngFor="let item of items">
			  	<div class="card-body">
			    	<h5 class="card-title">{{ item.name }}</h5>
			    	<strong>Artistas:</strong>
			    	<small *ngFor="let artista of item.artists"> 
			    		<a href="{{ artista.external_urls.spotify }}" target="_blank">{{ artista.name }}&nbsp;</a>
			    	</small>
			    	<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			    	<a href="{{ item.preview_url }}" target="_blank" class="btn btn-primary">Escuchar</a>
			  	</div>
			</div>
		</div>
	</section>
	
</div>
<br>
